<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855661008012-nccfdgmqh16mn9sfg9ki4go6i1fbdmgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855661008012-nccfdgmqh16mn9sfg9ki4go6i1fbdmgu</string>
	<key>API_KEY</key>
	<string>AIzaSyDNGZbv4E5f7FhaCtZmienqGIFnSYcfdwk</string>
	<key>GCM_SENDER_ID</key>
	<string>855661008012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trashCoin</string>
	<key>PROJECT_ID</key>
	<string>trash-coin-ebd05</string>
	<key>STORAGE_BUCKET</key>
	<string>trash-coin-ebd05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855661008012:ios:556e32788ba03a5c9b17a9</string>
</dict>
</plist>